<!-- Main Article
  ===================================================== -->
	<% title "Articles" %>
	<hgroup class="hgroup">
		<h1><span>Articles</span></h1>
	</hgroup>

	<ul role="alertdialog" id="admin" class="nav">
		<% if can? :create, Article %>
		  <li><%= link_to 'New Article', new_article_path %></li>
		<% end %>
	</ul>

  <article class="container-fluid">
    <div class="row-fluid">

      <section role="main" class="span9 article-brief">

        <% @articles.each do |article| %>
        <header class="row-fluid page-header">

          <section class="span5 pull-left">
            <ul class="thumbnails">
              <li>
                <div class="thumbnail">
									<a href="#">
									  <img src="http://placehold.it/200x150" alt="">
									</a>
                </div>
              </li>
            </ul>
          </section>

          <section class="span7 pull-right article-text">
            <h4 class="accent">
              <span class="article-position">
                Article #<%= article.position %> &ndash;
              </span>
              <span class="article-published_at">
                <%= article.published_at.strftime('%b %d, %Y') %> &nbsp;
              </span>
            </h4>

            <h3 class="article-title accent">
              <%= link_to article.title, article %>
            </h3>

            <p class="article-intro">
              <%= truncate(strip_tags(article.intro), 
              :length => 300, :separator => ' ') %>..
              <%= link_to 'read more', article %>
            </p>
          </section>

        </header>
        <% end %>

        <footer class="pagination pull-right page-header">
          <%= will_paginate :previous_label => h("<"), 
          :next_label => h(">") %>
        </footer>
			</section>

    </div>
  </article>